body
{
    background-color:rgb(3, 3, 29);
    font-family: 'Coda', cursive;
    font-size:20px;


}


header
{
    font-size: 30px;
    font-weight: 700;
    margin-left: 400px;
    margin-right: 400px;
    margin-top:50px;
    background-color:rgb(56, 211, 250);
    border-top: rgb(59, 116, 223) ridge 4px;
    border-left:  rgb(59, 116, 223) ridge 4px;
    border-right:  rgb(59, 116, 223) ridge 4px;
    padding-left:10px;
    border-radius: 3px;
}

article
{
    margin-left: 400px;
    margin-right: 400px;
    
    color:white;
    font-weight: 550;
    border: rgb(59, 116, 223) ridge 4px;
    padding-left:10px;
    border-radius: 5px;
}

ol>li
{

}



.sub
{
    font-weight:600;
    background-color:rgb(41, 135, 158);
    font-family: 'Coda', cursive;    
}

.sub:hover
{
    background-color:rgb(56, 211, 250);
    cursor: pointer;
    border:  rgb(59, 116, 223) solid 2px;
}


.sub1
{
    font-weight:600;
    background-color:rgb(41, 135, 158);
    font-family: 'Coda', cursive; 
    margin-left: 10px;   
}
.sub1:hover
{
    background-color:rgb(56, 211, 250);
    cursor: pointer;
    border:  rgb(59, 116, 223) solid 2px;
    color:white;
}


.sub2
{
    font-weight:600;
    background-color:rgb(41, 135, 158);
    font-family: 'Coda', cursive; 
    margin-left: 10px;
    
}
.sub2:hover
{
    background-color:rgb(56, 211, 250);
    cursor: pointer;
    border:  rgb(59, 116, 223) solid 2px;
    color:red;
}

.itsDone
{
    color:green;
    text-decoration:line-through;
}